<div class="row">
  <div class="col s12 m12">
    <div class="card white">
      <div class="card-content black-text">
        <%= simple_format(article.text) %>
      </div>
      <div class="card-action">
        <span class="btn">
          <%= link_to 'SHOW', "/articles/#{article.id}", method: :get, :style=>"color:white;" %>
        </span>
        <span class="btn">
          <%= link_to 'EDIT', edit_article_path(article.id), method: :get, :style=>"color:white;" %>
        </span>
        <span class="btn">
          <%= link_to 'DESTROY', "/articles/#{article.id}", method: :delete, :style=>"color:white;" %>
        </span>
      </div>
    </div>
  </div>
</div>
